.articles__moving-cliff {
  bottom: -30%;
  display: none;
  height: 100%;
  left: -10%;
  position: fixed;
  top: 20%;
}

@media (min-width: 1440px) {
  .articles__moving-cliff {
    display: inline-block;
  }
}


