<article>
  <h1>About</h1>
  <p>Hello fellow coding enthusiasts!</p>
  <p>I'm Veli and I am a Software engineer. I'm Turkish, born in Bulgaria, expat in the UK.</p>
  <p>I've been programming since 2009 thanks to my high school teacher starting with Delphi and Turbo pascal.
    That combined with my passion for logical puzzles, picked up while doing competitive maths, drove me to find career in Development.</p>
  <p>Since 2015 I've been doing Front-end Development where I've had a lot of smart people, whom I can learn from.
    I genuinely wouldn't have been in the position I am today, if it wasn't for Raf, Sebi, Giulio, Vittorio, Lee and Sephbo.
    So I've decided to create this blog to try and distill my thought, opinion and views on computer science topics and dump them here.
  </p>
</article>

