:host {
  display: block;
}

.navigation__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.navigation__item {
  perspective: 75px;
  perspective-origin: bottom;
  margin: 10px;
}

.navigation__link {
  display: block;
  padding: 20px;
  color: white;
  font-size: 2rem;
  transform: rotateZ(-15deg);
}
