:host {
  display: block;
}

.navigation__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navigation__item {
  margin: 10px 10px -25px;
  perspective: 75px;
  perspective-origin: bottom;
}

.navigation__link {
  background: #484848;
  border: 15px solid white;
  border-bottom-width: 25px;
  color: white;
  display: block;
  font-size: 2rem;
  padding: 5px;
  transform: rotateZ(-10deg);
}
